<h2>ADD PRODUCT:</h2>
<form id="form">
  <input
    type="text"
    name="tittle"
    id="tittle"
    placeholder="Product Name"
    required
  />
  <input
    type="text"
    name="desc"
    id="desc"
    placeholder="Product Description"
    required
  />
  <input
    type="number"
    name="price"
    id="price"
    placeholder="Product Price"
    required
  />
  <input
    type="text"
    name="thumbnail"
    id="thumbnail"
    placeholder="Product Link"
    required
  />
  <input
    type="number"
    name="stock"
    id="stock"
    placeholder="Product Stock"
    required
  />
  <input
    type="text"
    name="code"
    id="code"
    placeholder="Product Code"
    required
  />

  <input type="submit" value="SEND" />
</form>

<form id="form__delete">
  <label for="">What product do you want to delete?</label>
  <input
    type="number"
    name="numberDelete"
    id="numberDelete"
    placeholder="Insert the ID you want to delete"
  />
  <input type="submit" value="Delete" />

</form>

<div id="productList">

</div>

<script src="/socket.io/socket.io.js"></script>;
<script src="/src/public/index.js"></script>