<h2>Crear Tu Usuario</h2>
<form action="/api/users" method="post">
  <input
    type="text"
    name="first_name"
    id="first_name"
    placeholder="Insert your first name"
    required
  />
  <input
    type="text"
    name="last_name"
    id="last_name"
    placeholder="Insert your last name"
    required
  />
  <input
    type="mail"
    name="email"
    id="email"
    placeholder="Insert your email"
    required
  />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Insert your password"
  />
  <input
    type="number"
    name="age"
    id="age"
    placeholder="Insert your age"
  />

  <input type="submit" value="CREATE COUNT" />
</form>